.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.textBox {
    resize: none;
    width: 100%;
    height: 150px;
    width: 250px;
    padding: 10px;
    box-shadow: none;
    outline: none;
}

.button {
    width: 270px;
    height: 40px;
    border: none;
    background-color: rgb(60, 21, 216);
    cursor: pointer;
    transition: 333ms;

    &:hover {
        background-color: rgb(27, 188, 161);
    }

    &:active {
        transform: scale(0.95);
    }
}