.tab {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 3px;
    transition: 333ms;
}

.tabItem {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ebebeb;
}

.activeTab {
    background-color: #555;
    color: #fff;
}