body {
    overflow: hidden;
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #ebebeb; */
}

.game-board div {
    width: calc(100% / 3 - 2px);
    height: calc(100% / 3 - 2px);
    border: 1px solid #ebebeb;
    cursor: pointer;
    transition: 333ms;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #555;


    &:hover {
        background: #f8f8f8;
    }
}